
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poetsen One", sans-serif;
    background-color: #f4f4f4;
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {

    /* Small */
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {

    /* Medium */
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {

    /* Large */
    .container {
        width: 1170px;
    }
}
.asterisk {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 25px;
    color: #f00;
}
.nice_msg {
    padding: 10px;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #888;
    margin: 20px 0;
    border-left: 5px solid #080;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
/* End Global Rules */

/* Start login form */
.login {
    width: 300px;
    margin: 100px auto;
}
.login h4 {
    color: #444;
    font-weight: 600;
}
.login input {
    margin-bottom: 15px;
    font-weight: 550;
}
.login input.form-control {
    background-color: #eaeaea;
}
/* End login form */

/* Start Bootstrap Edits */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.navbar-brand {
    font-size: 1em;
    font-weight: 800;
}
.nav > li > a,
.navbar-brand { 
    padding: 15px 12px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #3498db;
    background-image: none;
    box-shadow: none;
    font-weight: 550;
}
.dropdown-menu {
    background-color: #3498db;
    min-width: 190px;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 1em;
    border: none;
}
.dropdown-menu > li > a {
    color: #fff;
    padding: 10px 15px;
    transition: padding 0.2s ease-in-out;
        -webkit-transition: padding 0.2s ease-in-out;
        -moz-transition: padding 0.2s ease-in-out;
        -ms-transition: padding 0.2s ease-in-out;
        -o-transition: padding 0.2s ease-in-out;
}
.dropdown-menu > li:hover > a {
    padding-left: 20px;
    font-weight: 550;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-image: none;
    color: #fff;
    background-color: #4b4b4b;
}
.form-control {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Dashboard Page */
.home-stats .stat {
    background-color: #eee;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.home-stats .stat i {
    font-size: 39px;
    top: 46px;
    position: absolute;
    left: 23px;
}
.home-stats .stat .info {
    float: right;
}
.home-stats .stat a {
    color: #fff;
}
.home-stats .stat a:hover {
    text-decoration: none;
}
.home-stats .stat span {
    display: block;
    font-size: 50px;
}
.home-stats .st-members {
    background-color: #3498db;
}
.home-stats .st-pending {
    background-color: #e74c3c;
}
.home-stats .st-items {
    background-color: #e67e22;
}
.home-stats .st-comments {
    background-color: #9b59b6;
}
.latest-users {
    margin-bottom: 0;
}
.latest-users li {
    padding: 8px;
    overflow: hidden;
}
.latest-users li:nth-child(odd) {
    background-color: #EEE;
}
.latest-users li span {
    margin-left: 5px;
}
.latest-users li span,
.latest-users .activate {
    padding: 2px 8px;
}
.latest-users li i {
    margin-right: 3px;
}

.latest {
    padding-bottom: 50px;
}
.latest .toggle-info {
    color: #888;
    cursor: pointer;
}
.latest .toggle-info:hover {
    color: #222;
}
.latest .comment-box {
    margin: 5px 0 10px;
}
.latest .comment-box .member_n {
    float: left;
    margin-right: 20px;
    width: 100px;
    text-align: center;
    margin-top: 8px;
}
.latest .comment-box .member_c {
    float: left; 
    width: calc(100% - 120px); 
    background-color: #efefef; 
    padding: 10px; 
    position: relative; 
    margin-bottom: 16px;
}
.latest .comment-box .member_c::before {
    content: "";
    display: block;
    position: absolute;
    left: -29px;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #efefef transparent transparent;
    border-width: 15px;
}
/* End Dashboard Page */

/* Start Members Page */
.member-manage-page-container {
    padding-bottom: 50px;
}
h1 {
    font-size: 50px;
    margin: 40px 0;
    font-weight: bold;
    color: #444;
}
.show-pass {
    position: absolute;
    top: 16px;
    right: 45px;
    font-size: 17px;
    cursor: pointer;
}
.main-table tr:first-child td { 
    background-color: #333;
    color: #fff;
}
.main-table td a.btn {
    padding: 3px 10px;
}
.main-table td a.bt-op {
    margin: 10px 6px;
}
.manage_members img {
    width: 70px;
    height: 70px;
}
.main-table td {
    background-color: #fff;
    vertical-align: middle !important;
}
.main-table td a i {
    position: relative;
    top: -1px;
    left: -3px;
}
.main-table {
    box-shadow: 0 3px 10px #ccc;
}
/* End Members Page */

/* Start Category Page */
.categories {
    padding: 10px 10px 50px;
}
.categories .panel-body {
    padding: 0;
}
.categories hr {
    margin: 0;
}
.categories .orrr span {
    color: #777;
    cursor: pointer;
}
.categories .orrr a {
    color: #777;
    text-decoration: none;
}
.categories .orrr .active,
.categories .orrr span .active {
    color: #f00;
    font-weight: bold;
}
.categories .cat {
    margin-bottom: 0px;
    padding: 15px 15px 30px;
    position: relative;
    overflow: hidden;
}
.categories .cat .hidden-buttons {
    position: absolute;
    top: 15px;
    right: -138px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.categories .cat:hover {
    background-color: #eee;
}
.categories .cat:hover .hidden-buttons {
    right: 5px;
}
.categories .cat .hidden-buttons a {
    margin-right: 5px;
    font-size: 14px;
    padding: 3px 6px;
}
.categories .cat .hidden-buttons a i {
    margin-right: 3px;
}
.categories .cat:last-of-type ~ hr {
    display: none;
}
.categories .cat h3 {
    margin: 0;
    cursor: pointer;
}
.categories .full-view p {
    margin: 10px 0;
}
.categories .cat .visibility, 
.categories .cat .comment,
.categories .cat .advertises {
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-top: 12px;
    display: inline-block;
    min-width: 250px;
    /* cursor: pointer;
    transition: padding-left 0.2s ease-in-out;
    -webkit-transition: padding-left 0.2s ease-in-out;
    -moz-transition: padding-left 0.2s ease-in-out;
    -ms-transition: padding-left 0.2s ease-in-out;
    -o-transition: padding-left 0.2s ease-in-out; */
}
/* .categories .cat .visibility:hover,
.categories .cat .comment:hover,
.categories .cat .advertises:hover {
    padding-left: 20px;
} */
.categories .cat .visibility {
    background-color: #c0392b;
}
.categories .cat .comment {
    background-color: #2c3e50;
}
.categories .cat .advertises {
    background-color: #f39c12;
    
}
.categories .full-view span i {
    margin-right: 8px;
}

/* End Category Page */























